<div class="photo">
	<%= image_tag("/top.jpg", :size => "1400x600", :alt => "アイコン", class: 'img-responsive') %>
	<div class = "title">
		tripplan　-　あなたの旅、もっと楽しく！
	</div>
	<div class = "login"><br>
		<a href = "/users/auth/facebook" class="btn btn-social btn-facebook" style="color:white"><span class="fa fa-facebook">f</span> フェイスブックで新規登録/ログイン</a>
		<p>または</p>
		<a href = "/users/sign_up" class="btn btn-social btn-github" style="color:white"><span class="glyphicon glyphicon-envelope"></span> メールアドレスで登録</a>
		<br><br>
		<%= link_to "登録済みの方はこちら", new_user_session_path, style: "color:white" %>
		<br><br>
	</div>
</div>

<br>
<div class="text-center text-success lead">
  <div>tripplanは、あなたの旅の計画を最大限サポートします。</div>
</div>

<div class="container">
	<div class="row">

		<div class="col-md-3 col-xs-offset-1">
      <p>過去の旅行者のデータをもとに、無駄のないプランを計画できます。</p>
      <%= image_tag("/yama.jpg", :size => "300x300", :alt => "アイコン", class: 'img-responsive img-circle') %>
    </div>

		<div class="col-md-3 col-xs-offset-1">
      <p>行きたい場所を追加していくだけであなたに最適な旅行プランが完成します！</p><br>
      <%= image_tag("/map.jpg", :size => "500x500", :alt => "アイコン", class: 'img-responsive img-circle') %>
    </div>

    <div class="col-md-3 col-xs-offset-1">
    </p>友達同士で一つのプランを作成することもできます！</p>
      <%= image_tag("/friend.jpg", :size => "500x500", :alt => "アイコン", class: 'img-responsive img-circle') %>
    </div>

	</div>
</div>


<h3 class="text-center text-success lead">使い方はとっても簡単!</h3>
<p class="text-center">①行きたい場所を入力し、</p>
<%= image_tag("/demo1.gif", :size => "600x600", :alt => "アイコン", class: 'img-responsive center-block') %>
<h3 class="text-center">⬇︎</h3>
<p class="text-center">②順番を決めるだけ。</p>
<%= image_tag("/demo2.gif", :size => "600x600", :alt => "アイコン", class: 'img-responsive center-block') %>
<h3 class="text-center">⬇︎</h3>
<p class="text-center">③無駄のないプランが立てられます!</p>
<%= image_tag("/demo3.gif", :size => "400x400", :alt => "アイコン", class: 'img-responsive center-block') %>


<br><br>
<div class="text-center text-success lead">
  <div>他の旅行者のプランを参考に、イメージを膨らませましょう。</div>
</div>

<div class="text-center">
<p>現在の総プラン数:<span class = "text-danger"><%= @plans.count %></span></p>
</div>




<div class="container-fluid">
	<div class="row">
		<% @plans.each do |plan| %>
		<div class="col-md-3 col-xs-offset-1">

			<div class="media">
				<a class="media-left" href="#">
					<%= image_tag("/Prefectures/#{plan.area.id}.jpg", :size => "200x200", :alt => "アイコン") %>
				</a>
				<div class="media-rigth">
					<h4 class="media-heading">
						<%=link_to plan.name, plan_path(plan)%>
					</h4>
					メンバー (<%= plan.plan_users.count %>)
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>
