<div class="text-center">
  <%= image_tag 'brandImage.png', size: "100x100" %><h1>tripplan</h1>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3  bg-success">
      <h2>ログイン</h2>tripplanが許可無くSNSへ投稿することはありません。
        <p><a href = "/users/auth/facebook" class="btn btn-social btn-facebook" style="color:white"><span class="fa fa-facebook">f</span> フェイスブックで新規登録/ログイン</a></p>

          <h4 class="text-center">------メールアドレスで登録の方はこちら------</h4>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :email %><br />
              <%= f.email_field :email, autofocus: true %>
            </div>

            <div class="field">
              <%= f.label :password %><br />
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
            <% end -%>

            <div class="actions">
              <%= f.submit "ログイン" %>
            </div>
          <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
