<%= profile_img(@user) %>
<%= @user.name %>


<h3 class="text-center"><参加中のプラン></h3>
  <div class="container-fluid">
  	<div class="row">
  		<% @myplans.each do |myplan| %>
  		<div class="col-md-3 col-xs-offset-1">

  			<div class="media">
  				<a class="media-left" href="#">
  					<%= image_tag("/Prefectures/#{myplan.area.id}.jpg", :size => "200x200", :alt => "アイコン", class: 'img-responsive') %>
  				</a>
  				<div class="media-rigth">
  					<h4 class="media-heading">
  						<%=link_to myplan.name, plan_path(myplan)%>
  					</h4>
  					メンバー (<%= myplan.plan_users.count %>)
  				</div>
  			</div>
  		</div>
  		<% end %>
  	</div>
  </div>
